@import 'https://fonts.googleapis.com/css?family=Lato';

body {
	background: #ECEDEF;
	font-family: 'Lato', sans-serif;
}

* {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.header-section {
	margin: 50px 0 0;
	height: 600px;
	width: 100%;
	background-color: #ECEDEF;
	overflow: hidden;
}

.header-slider.slick-initialized.slick-slider {
	margin: 150px 0 0 auto;
	overflow: hidden;
}

.cover {
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	bottom: 0;
	width: 100%;
}

.header-image .cover h1 {
	color: #fff;
	font-weight: bold;
	font-size: 60px;
	letter-spacing: -4px;
	position: absolute;
	bottom: 100px;
	left: 100px;
	margin: 0;
}

.page-section {
	width: 100%;
	height: 700px;
	background: #fff;
}

.page-section h2 {
	font-size: 60px;
	text-transform: uppercase;
	font-weight: bold;
}

.page-section.team h2 {
	color: #333;
}

.page-section.team {
	background: #ECEDEF;
	border-top: 5px solid #444;
}

#whatWeDo.page-section .thumbnail {
	background: #ECEDEF;
	margin-top: 100px;
}

#whatWeDo.page-section .thumbnail h3,
#whatWeDo.page-section p {
	color: #333;
	font-size: 16px;
}

/* skills section */
#skills.page-section {
	background-color: #ECEDEF;
}

#skills.page-section .thumbnail {
	height: 200px !important;
}

#skills.page-section .thumbnail img {
	height: 100px;
	width: auto;
	margin-top: 40px;
}

#skills.page-section h4 {
	font-size: 20px;
}

#skills.page-section ul {
	list-style: none;
	padding-left: 0;
}

#skills.page-section i {
	border: 1px solid #444;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	margin-right: 15px;
	text-align: center;
	width: 40px;
	margin-bottom: 15px;
}
#skills.page-section a {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}


/* services section */
#services.page-section {
	background-color: #ECEDEF;
	border-bottom: 4px solid #444444;
}

/* blog section */

#blog.page-section {
	background-color: #ECEDEF;
}

#blog.page-section a:hover {
	text-decoration: none;
}

#blog.page-section .thumbnail {
	height: 350px !important;
	cursor: pointer;
}

#blog.page-section .thumbnail p {
	color: #9D9D9D;
}

#blog.page-section .thumbnail img {
	width: auto;

}

#blog.page-section h4 {
	font-size: 20px;
	text-align: center;
}

#blog.page-section a {
	margin-top: 20px;
	width: 360px;
}

#blog-title {
	background: #f5f5f5 none repeat scroll 0 0;
	height: 150px;
	padding: 20px;
}

#blog-title span {
	color: #9d9d9d;
}

#blog-grid {
	margin-top: 20px;
	border-bottom: 1px solid #dddddd;
}

/* portfolio section */

#portfolio.page-section {
	background-color: #ECEDEF;
	border-top: 5px solid;
}

#portfolio.page-section .thumbnail {
	height: 200px !important;
}

#portfolio.page-section .thumbnail img {
	height: 100px;
	width: auto;
	margin-top: 40px;
}

#portfolio.page-section h4 {
	font-size: 20px;
	text-align: center;
}

/* team section */

.page-section.team .thumbnail img {
	width: 100%;
}

.page-section.team .thumbnail p, .page-section.team .thumbnail h3 {
	text-align: center;
}

/* Testimonials section */

#references.page-section {
	position: relative;
	background-image: url(../media/mac-glasses.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#references.page-section blockquote {
	text-align: center;
	width: 500px;
	margin: -100px auto 0;
	color: #ffffff;
	font-weight: bold;
	font-style: oblique;
	font-size: 25px;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
}

.quote-slider {
	margin: 250px auto 0;
	overflow: hidden;
	width: 600px;
	position: relative;
}

.quote-item {
	color: #fff;
	float: left;
	font-size: 26px;
	padding: 0 50px;
	text-align: center;
}

.quote-item p {
	font-style:italic;
	font-size: 16px;
}

#map {
	height: 700px;
	border-left: 3px solid #444444;
}

.page-section form {
	padding: 30px;
	width: 66%;
	color: #444;
	margin: 0 auto;
}

.page-section form textarea {
	resize: none;
	width: 100%;
}

#contact.page-section h2 {
	text-align: center;
	font-size: 45px;
	color: #333;
}

#contact.page-section h2 span {
	color: #333333;
}

#contact.page-section textarea {
	border: 1px solid #dddddd;
}

.contact-right {
	margin-top: 20px;
}

.contact-right > p {
	font-size: 16px;
}

/* Buttons */

.btn-main {
	color: #fff;
	background-color: #EA6060;
	display: block;
	width: 40%;

}

.information {
	text-align: center;
	margin-top: 50px;
}

.information a {
	border: 1px solid;
	border-radius: 100% !important;
	color: #f1f3f3;
	font-size: 20px;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
}

.information p {
	font-size: 16px;
	margin-bottom: 30px;
}

.back-button {
	position: fixed;
	right: 20px;
	background-color: #333;
	color: #fff;
	font-size: 30px;
	padding: 10px;
	bottom: 10px;
	z-index: 1039;
}


#back-to-top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9999;
	width: 50px;
	height: auto;
	text-align: center;
	line-height: 30px;
	background: #333;
	color: #fff;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
}
#back-to-top:hover {
	background: #fff;
	color: #333333;
	border: 3px solid #333333;
}
#back-to-top.show {
	opacity: 1;
}
#content {
	height: 2000px;
}

.back-button:hover {
	color: #ffffff;
}

.information img {
	height: auto;
	width: 200px;
}

.view-more {
	text-align: center;
	padding: 5px;
	margin-top: 30px;
}

.view-more a {
	background: #333;
	color: #fff;
	padding: 10px 60px;
	line-height: 20px;
	width: 50%;
	font-size: 16px;
	border: 5px solid #fff;
	font-weight: bold;
}
.view-more a:hover {
	background: #fff;
	color: #333;
	padding: 10px 60px;
	line-height: 20px;
	width: 50%;
	font-size: 16px;
	border: 3px solid #333;
	text-decoration: none;
	font-weight: bold;
}

.progress-bar-color {
	background-color: #565D67;
}



footer span {
	bottom: -40px;
	position: relative;
}

footer {
	background-color: #565D67;
	height: 300px;
	color: #ffffff;
}

/* Modal content team */

.modal-content.ubrium-modal-content .modal-header h4 {
	line-height: 18px;
}

.modal-content.ubrium-modal-content .modal-header h4 span {
	font-size: 14px;
	color: #aaa;
	font-style: italic;
}

.modal-content.ubrium-modal-content .modal-body img {
	width: 150px;
}

.modal-content.ubrium-modal-content .modal-body h5:nth-child(2) {
	border-top: none;
}

.modal-content.ubrium-modal-content .modal-body h5 {
	font-size: 18px;
	border-top: 1px solid;
	padding-top: 5px;
}

.blog-modal p {
	font-size: 15px;
	margin-top: 15px;
}

.fade-slider img {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: auto;
	width: 100%;
}

.js div#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
}

.box {

	cursor: pointer;
	height: 240px;
	position: relative;
	overflow: hidden;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.box img {
	position: absolute;
	left: 0;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;

}

.box .overbox {
	background-color: #333;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	opacity: 0;
	width: 100%;
	height: 240px;
	padding: 130px 20px;

}

.box:hover .overbox {
	opacity: 1;
}

.overbox a {
	color: #ffffff;
}
.overbox a:hover {
	color: #ffffff;
	text-decoration: none;
}


.box .overtext {
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	transform: translateY(40px);
	-webkit-transform: translateY(40px);
}


.box .title {
	font-size: 2.5em;

	opacity: 0;
	transition-delay: 0.1s;
	transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title {
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}

.box .tagline {
	font-size: 0.8em;
	opacity: 0;
	transition-delay: 0.2s;
	transition-duration: 0.2s;
}
.box:hover .tagline,
.box:focus .tagline {
	opacity: 1;
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
}




